{present name="plugin"}
	{in name="'date'" value="$plugin"}
		{load href="/public/static/AdminLTE-2.3.6/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css"}
	{/in}
	{in name="'date_time'" value="$plugin"}
		{load href="/public/static/AdminLTE-2.3.6/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css"}
	{/in}
	{in name="'table'" value="$plugin"}
	  	{load href="/public/static/plugins/bootstrap-table/bootstrap-table.min.css" /}
	{/in}
	{in name="'upload'" value="$plugin"}
	{/in}
	{in name="'editor'" value="$plugin"}
		{load href="/public/static/plugins/ckeditor/skins/moono-lisa/editor.css" /}
	{/in}
	{in name="'select2'" value="$plugin"}
		{load href="/public/static/plugins/select2/select2.min.css" /}
	{/in}
	{in name="'sweetalert'" value="$plugin"}
		{load href="/public/static/plugins/sweetalert/sweetalert.css" /}
	{/in}
	{in name="'icheck'" value="$plugin"}
		{load href="/public/static/AdminLTE-2.3.6/plugins/iCheck/square/blue.css"}
	{/in}
	{in name="'titatoggle'" value="$plugin"}
		{load href="/public/static/plugins/TiTatoggle/titatoggle-dist-min.css" /}
	{/in}
{/present}