{extend name="layout/main" /}
{block name="ext_css"}
  {load href="/static/AdminLTE-2.3.6/plugins/iCheck/square/blue.css"}
	{load href="/static/plugins/sweetalert/sweetalert.css" /}
{/block}
{block name="content"}
  <div class="row">
    <div class="col-md-12">
      <div class="box box-default">
        <div class="box-header with-border">
          <h3 class="box-title">审核配置</h5>
        </div>
        <div class="box-body">
          <div class="row">
            <div class="col-md-12">
              <div class="box-body">
                <form method="post" id="form">
                  <div class="box-body">
										<div class="form-group">
  					  				<label for="">审核名称</label>
  					  				<input class="form-control" type="text" name="name" value="{$data['name']}">
  									</div>
                    <div class="form-group">
                      <label for="">审核配置说明:</label>
                      <div class="well">
                        <p>流程:用,分割 流程1,流程2,流程3</p>
                        <p>流程参数:用|分割 类型|参数|条件|意见配置|发送参数|意见模板</p>
                        <p>类型: ur:用户;po:职位;pr:部门负责人</p>
                        <p>参数: 对应类型的参数,如:ur|110,表示用户id为110的用户,po|2,表示本职能内职位是主管的用户</p>
                        <p>条件: 该审核出现的条件用/隔开,分别对应:参数/比较符号/值,如:leave_day/>/2表示请假天数大于2天则出现</p>
                        <p>意见配置: 审核是出现的意见配置,用/隔开多个意见(如:意见1/意见2/...),用-隔开每个意见意见的参数(如:意见标题-是否必填(1=是,0=否)-是否显示给申请者(1=是,0=否)),如:工作情况方面-1-1/团队配合方面-1-1/...</p>
                        <p>发送参数: 审核通过时,该审核者是否收到邮件:1=是,0=否</p>
                        <p>意见模板: 审核是意见自动生成的内容,参数:模板路径-参数,如:/handover/_confirm-1,表示:/handover/_confirm模板下的模板1</p>
                      </div>
                    </div>
										<div class="form-group">
				  					  <label for="">审核配置()</label>
											<input class="form-control" type="text" name="audit_conf" value="{$data['audit_conf']}">
				  					</div>
										{eq name="mode" value="edit"}
										<div class="form-group">
				  					  <label for="">适用项目</label>
											<select class="form-control select2" multiple="multiple" name="project_id[]">
	                      {foreach $conf_list['project_list'] as $project_id => $project}
	                        <option value="{$project_id}" {in name="project_id" value="$data['project_id']"}selected="selected"{/in}>{$project}</option>
	                      {/foreach}
	                    </select>
				  					</div>
										<div class="form-group">
				  					  <label for="">适用职能</label>
											<select class="form-control select2" multiple="multiple" name="duty_id[]">
	                      {foreach $conf_list['duty_list'] as $duty_id => $duty}
	                        <option value="{$duty_id}" {in name="duty_id" value="$data['duty_id']"}selected="selected"{/in}>{$duty}</option>
	                      {/foreach}
	                    </select>
				  					</div>
										<div class="form-group">
				  					  <label for="">适用职位</label>
											<select class="form-control select2" multiple="multiple" name="position_id[]">
	                      {foreach $conf_list['position_list'] as $position_id => $position}
	                        <option value="{$position_id}" {in name="position_id" value="$data['position_id']"}selected="selected"{/in}>{$position}</option>
	                      {/foreach}
	                    </select>
				  					</div>
										{/eq}
										<div class="form-group">
										  <label for="">状态</label>
										  <div class="input-group">
										    <input name="status" id="status" value="1" type="radio" {eq name="data['status']" value="1"}checked="checked"{/eq}>
										    <label for="status">启用</label>
										    <input name="status" id="status" value="0" type="radio" {eq name="data['status']" value="0"}checked="checked"{/eq}>
										    <label for="status">停用</label>
										  </div>
										</div>
                    <div class="form-group">
                      <input type="hidden" name="mode" value="{$mode}">
											<input type="hidden" name="type" value="{$data.type}">
											{eq name="mode" value="edit"}
												<input type="hidden" name="id" value="{$data.id}">
											{/eq}
                    </div>
                  </div>
                  <div class="box-footer clearfix">
                    <a href="javascript:history.back(-1);" class="btn btn-default btn-flat">
                      <i class="fa fa-arrow-left"></i>
                      返 回
                    </a>
                    <a onclick="save()" class="btn btn-success btn-flat">
                      <i class="fa fa-check"></i>
                      保 存
                    </a>
										{eq name="mode" value="edit"}
										<a onclick="del({$data.id}, {$data.type})" class="btn btn-danger btn-flat">
                      <i class="fa fa-close"></i>
                      删除
                    </a>
										{/eq}
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{/block}
{block name="ext_js"}
  {load href="/static/AdminLTE-2.3.6/plugins/iCheck/icheck.min.js"}
	{load href="/static/plugins/sweetalert/sweetalert.min.js"}
  <script>
    $(function () {
      //iCheck
      $("input").iCheck({
        checkboxClass: "icheckbox_square-blue",
        radioClass: "iradio_square-blue",
        increaseArea: "20%" // optional
      });
    });

    function save() {
      sendForm("form", "{:url('/flow/auditSave')}", 1);
      return false;
    }

		function del(id, type) {
	        var msg = '确定要删除?';
	        var parame = {id:id,type:type};
	        var url = "{:url('/flow/auditDel')}";
	        ui_confirm(msg, url, parame);
	    }
  </script>
{/block}
