{extend name="layout/main" /}
{block name="ext_css"}
{/block}
{block name="content"}
    <div class="row">
        <div class="col-md-12">
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">职能列表</h5>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="operate panel panel-default">
                                <div class="panel-body">
                                    <div class="pull-right">
                                        <a href="{:url('/duty/edit')}" class="btn btn-sm btn-primary">新增</a>
                                    </div>
                                </div>
                            </div>
                            <table data-toggle="table">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>职能名称</th>
                                        <th>状态</th>
                                        <th>创建时间</th>
                                        <th>更新时间</th>
                                        <th>操作</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {foreach $datas as $row}
                                        <tr>
                                            <td>{$row['id']}</td>
                                            <td>{$row['name']}</td>
                                            <td>
                                                <div class="checkbox-slider--b-flat center">
                                                    <label>
                                                        <input type="checkbox" onchange="switcher({$row['id']}, 'status', {$row['status'] ? 0 : 1})" {eq name="row['status']" value="1"}checked="checked"{/eq} ><span></span>
                                                    </label>
                                                </div>
                                            </td>
                                            <td>{$row['create_time']}</td>
                                            <td>{$row['update_time']}</td>
                                            <td>
                                                <a class="btn btn-primary btn-xs" href="{:url('/duty/edit', ['id'=>$row.id])}">编辑</a> |
                                                <button class="btn btn-danger btn-xs" onclick="del({$row['id']})">删除</button>
                                            </td>
                                        </tr>
                                    {/foreach}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{/block}
{block name="ext_js"}
    <script>
        function switcher(id, name, value) {
            _switcher(id, name, value, "{:url('/duty/switcher')}");
        }

        function del(id) {
            var msg = '确定要删除?';
            var parame = {id:id};
            var url = "{:url('/duty/destroy')}";
            ui_confirm(msg, url, parame);
        }
    </script>
{/block}
