{extend name="layout/main" /}
{block name="ext_css"}
{/block}
{block name="content"}
<div class="box box-primary">
    <div class="box-body">
		<div class="row">
			<div class="col-md-12">
				<form id="form_add" role="form">
					<div class="box-body">
						<div class="form-group">
							<textarea class="form-control" id="editor" name="content">{$data.content}</textarea>
						</div>
						<div class="box-footer clearfix">
						    <a href="javascript:history.back(-1);" class="btn btn-default btn-flat">
						    	<i class="fa fa-arrow-left"></i>
						        返 回
						    </a>
						    <a onclick="save()" class="btn btn-success btn-flat">
						    	<i class="fa fa-check"></i>
						        保 存
						    </a>
						</div>
			    	</div>
				</form>
			</div>
		</div>
    </div>
</div>
{/block}
{block name="ext_js"}
<script>
    function save() {
    	CKupdate();
      	sendForm("form_add", "{:url('/regulations/save')}", 1);
      	return false;
    }
</script>
{/block}