<table class="table table-condensed table-hover table-bordered table-center table-middle table_details">
    <thead>
        <tr class="success">
            <th>自我评价</th>
            <th>个人规划</th>
            <th>工作建议</th>
            <th>对团队的评价</th>
        </tr>
    </thead>
    <tbody>
        <tr class="success">
            <td style="width:300px;word-wrap:break-word;">{$data['self_estimate']}</td>
            <td style="width:300px;word-wrap:break-word;">{$data['self_plan']}</td>
            <td style="width:300px;word-wrap:break-word;">{$data['work_suggest']}</td>
            <td style="width:300px;word-wrap:break-word;">{$data['team_appraise']}</td>
        </tr>
    </tbody>
</table>